*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
#intro-section{
    display: flex;

}
#my{
    margin-left: 100px;
    margin-top: 50px;
    
}
body{
    background-color: #23253A;
}
.p{
    font-size: 17px;
    color: white;
    word-spacing: 4px;
    
    
}
/* @keyframes slide {
    0%{
        content:"Hello , I am a Front End Developer";
    }
    5%{
        content: "Hello,";
    }
    8%{
        content: "Hello, I ";
    }
    15%{
        content: "Hello,I am a Gamer";
    }
    20%{
        content: "Hello , I am a Designer";
    }
    
} */
@keyframes slide {
    0%, 100% {
        content: "Hello, I am a Front End Developer";
    }
    10% {
        content: "Hello, I am a";
    }
    20% {
        content: "Hello, I am a Gamer";
    }
    30% {
        content: "Hello,";
    }
    40% {
        content: "Hello, I am a Designer";
    }
    50% {
        content: "Hello, I am a";
    }
    60% {
        content: "Hello, I am a Coder";
    }
    70% {
        content: "Hello, I am a Developer";
    }
    80% {
        content: "Hello, I am a Gamer";
    }
    90% {
        content: "Hello, I am an Coder";
    }
}


.hula::before{
    content: "Hello, I am a Front end developer";
    animation: slide 5s ease-in-out 0s infinite alternate forwards;
     
    
}
h3{
    color: whitesmoke;
}
#mainhead{
    margin: 10px;
    display: flex;
    background-color: #212437;
    align-items: center;
    
}
 /* @media  (max-width:768px){
    
    .head{
        font-size: 13px;
        
    } 
    .headnav{
        margin-left: 30px;
        position: fixed;

    }
 } */
.head{
    color: white;
    padding-left: 90px;
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 30px;
}
.headnav{
    font-size: 19px;
    font-weight: 700;
    margin-left: 550px;
   word-spacing: 60px;
   padding-bottom: 7px;
   
}
.nav:hover::after{
    transform: scaleX(1);
    /* position: relative;s */
}
.nav{
    color: black;
    position: relative;
    /* padding-block: 4px; */
    cursor: pointer;
}
.nav::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #F54751;
    position: absolute;
    bottom: -9px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.1s linear;
    transform-origin: center;
 }
.nav{
    text-decoration: none;
    color: orange;
    font-size: 16px;
}

.myintro{
    margin: 100px 0px 0px 120px;
    font-size: 24px;
    width: 36%;
}
.hire-me{
    background-color: #F54751;
    padding: 10px 50px 10px 50px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}
/* Progress bar  */

.progress-container {
    position: fixed;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightcoral;
}

.circle.top {
    background-color: red;
}

.line {
    width: 4px;
    background-color: lightcoral;
    transition: height 0.2s;
}

.first-line {
    height: 50px;
}

.second-line {
    height: 50px;
}

.circle.middle {
    background-color: transparent;
    border: 2px solid lightcoral;
}

.circle.bottom {
    background-color: transparent;
    border: 2px solid lightcoral;
}

/*Projects*/
#project{
    margin: 170px 0px 0px 140px;
    width: 77%;

}
.project-content{
    font-size: 23px;
}
.github{
    padding: 15px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 9px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #F54751;
    font-weight: 700;
}

/* Services */
#main-services{
    margin: 270px 0px 0px 140px;

}
.skill-sets{
    display: flex;
    column-gap: 60px;
    flex-wrap: wrap;


}

.hovi:hover{
    background-color: gray;
    /* color: skyblue; */
    font-weight: 900;
    
    scale: 1.2;
    
    /* display: block; */
    margin: 40px 40px 40px 40px;
    
    transition: all 0.5s ease-in-out;
}
.hovi:hover:active{
    color: saddlebrown;
}



.skill-box{
    margin-top: 30px;
    padding: 10px 20px 20px 20px;
    background-color:#2B2E41 ;
    width: 25%;
    
    
    text-align: justify;
}
/*connect*/
#connect{
    margin: 170px 0px 0px 10px;
    column-gap: 30px;
}
.input-container{
    position: relative;
    
}
.input{
    padding: 10px 10px 0px 10px;
    width: 35%;
    height: 60px;
    margin-bottom: 40px;
    background-color: #F54751;

    outline: none;
    font-size: 19px;
    border: 3px solid #F54751;
}
label{
    font-size: 26px;
    position: absolute;
    top: 10px;
    left: 8px;
    padding: 0px 5px;
    transition: all 0.3s;
    pointer-events: none;
    color: white;

}
.input:focus + label{
    top: -15px;
    color: white;
    
}
.input:active:focus +label{
    top: -15px;
}
.lastbutton{
    background-color: #F54751;
    padding: 10px 30px 10px 30px;
    margin-left: 13%;
    font-size: 23px;
    margin-bottom: 100px;
}
